
<html>
<head>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.css">
    
    
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/jquery-ui.js"></script>

    
    <script src="https://code.angularjs.org/1.4.9/angular.min.js"/>
    <script src="Content/app/bower_components/angular/angular.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="Content/app/bower_components/angularjs-datetime-picker/angularjs-datetime-picker.css" />

    <link rel="stylesheet" href="Content/app/bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="Content/app/bower_components/angular-timeline/dist/angular-timeline.css" />

    <script src="Content/app/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="Content/app/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="Content/app/bower_components/ngstorage/ngStorage.js"></script>
    <script src="Content/app/bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="Content/app/bower_components/angular-resource/angular-resource.js"></script>
    <script src="Content/app/bower_components/angularjs-datetime-picker/angularjs-datetime-picker.js"></script>
    <script src="Content/app/bower_components/angular-timeline/dist/angular-timeline.js"></script>

    <script src="Content/app/bower_components/Chart.js/Chart.js"></script>
    <script src="Content/app/bower_components/angular-chart.js/dist/angular-chart.js"></script>

    <script src="Content/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="Content/app/bower_components/angular-ui-sortable/sortable.js"></script>

    <script type="text/javascript" src="Content/app/bower_components/Sortable/ng-sortable.js"></script>
    <script type="text/javascript" src="Content/app/bower_components/Sortable/Sortable.js"></script>

    <link href="Content/app/bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.min.css" rel="stylesheet">
    <script type="text/javascript" src="Content/app/bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.js"></script>
    <script type="text/javascript" src="Content/app/bower_components/adf-structures-base/dist/adf-structures-base.min.js"></script>
    <script type="text/javascript" src="Content/app/bower_components/showdown/src/showdown.js"></script>
    <script type="text/javascript" src="Content/app/bower_components/angular-markdown-directive/markdown.js"></script>
    <script type="text/javascript" src="Content/app/bower_components/adf-widget-markdown/dist/adf-widget-markdown.min.js"></script>

    <script src="Content/app/app.js"></script>
    <script src="Content/app/controllers.js"></script>
    <script src="Content/app/services.js"></script>

    <script src="Content/app/dashboard/dashboardController.js"></script>
    <script src="Content/app/tasks/tasksController.js"></script>
    <script src="Content/app/tasks/taskDetailController.js"></script>
    <script src="Content/app/tasks/task.js"></script>

    <script src="Content/app/tasks/modal/modalTicketCtrl.js"></script>

    <script src="Content/app/projects/projectResource.js"></script>
    <script src="Content/app/tasks/taskResource.js"></script>
    <script src="Content/app/projects/projectUsersResource.js"></script>
    <script src="Content/app/comments/commentResource.js"></script>

    <script src="Content/app/projects/projectsService.js"></script>
    <script src="Content/app/projects/projectResource.js"></script>
    <script src="Content/app/projects/userProjectResource.js"></script>
    <script src="Content/app/projects/projectsController.js"></script>
    <script src="Content/app/projects/modal/projectModalController.js"></script>
    <script src="Content/app/projects/modal/assignUserModalController.js"></script>
    <script src="Content/app/projects/reports/reportModalController.js"></script>
    <script src="Content/app/projects/project.js"></script>


    <script src="Content/app/tasks/tasksService.js"></script>

    <script src="Content/app/utils/authentication.js"></script>

    <script src="Content/app/users/login.js"></script>
    <script src="Content/app/users/register.js"></script>
    <script src="Content/app/users/userResource.js"></script>
    <script src="Content/app/users/user.js"></script>
    <script src="Content/app/users/usersController.js"></script>
    <script src="Content/app/users/modal/userModalController.js"></script>
    <script src="Content/app/users/reports/reportModalController.js"></script>

    <script type="text/javascript" src="Content/app/bower_components/moment/moment.js"></script>
    <link rel="stylesheet" href="Content/app/bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
    <script type="text/javascript" src="Content/app/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script type="text/javascript" src="Content/app/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>


    <script src="Content/app/bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="Content/app/bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>

    <!-- <link href="Content/bootstrap.min.css" rel="stylesheet" />-->
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<body ng-app="app">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">TICKETING SYSTEM</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-if="isLoggedIn()"><a ui-sref="dashboard">Dashboard</a></li>
                    <li ng-if="getCurrentUserRole()=='Admin'"><a ui-sref="users">Users</a></li>
                    <li ng-if="getCurrentUserRole()=='Admin'"><a ui-sref="projects">Projects</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!isLoggedIn()"><a ui-sref="login">Log in</a></li>
                    <li ng-if="isLoggedIn()"><a ng-click="logout()" href="#">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ui-view>


        </div>
    </div>

</body>

</html>