<div class="projects">
    <h1>Dashboard</h1>
    <hr />

    <div class="left">
        <table class="table table-striped">
            <tr>
                <th style="font-size:larger">
                    Projects
                </th>
            </tr>
            <tr ng-repeat="p in projects">
                <td><a href='#/projects/{{p.projectID}}/tasks'>{{ p.projectName }}</a></td>

            </tr>
        </table>
    </div>
    <div class="right">
        <form ng-submit="SubmitFilter()" class="form-inline" style="position:relative; float:right; top:15px">
            <fieldset>
                <div class="form-group">
                    <div ng-dropdown-multiselect="" translation-texts="filterSelectTexts" options="filterSelectdata" selected-model="filterSelectModel"
                         checkboxes="true" extra-settings="filterSelectSetings">
                    </div>
                </div>
                <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Submit" />
                </div>
            </fieldset>
        </form>
        <h3>Tasks</h3>
        <table class="table table-striped">
            <tr><th>Task Name</th><th>Task Status</th><th>Task Priority</th><th>Task From</th><th>Task Until</th></tr>
            <tr ng-repeat="t in tasks">
                <td>{{t.taskName}}</td>
                <td>{{t.taskStatus}}</td>
                <td>{{t.taskPriority}}</td>
                <td>{{t.taskFrom}}</td>
                <td>{{t.taskUntil}}</td>
            </tr>
        </table>
    </div>
    
</div>
