################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TicketingSystem/packages
**/bin
**/obj
/TicketingSystem/.vs
/TicketingSystem/TicketingSystem/Content/app/bower_components/bower_components
/TicketingSystem/TicketingSystem/Content/app/bower_components/lodash/dist
