################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TicketingSystem/packages
**/bin
**/obj
/TicketingSystem/.vs
