<h1>Task details {{projectName}}</h1>

<div>
    <table>
        <tr>
            <td>
                <h4>Name: {{currentTask.taskName}}</h4>
                <h4>Assigned to :{{currentTask.userAssigned.userName}}</h4>
                <h4>Created by :{{currentTask.userCreated.userName}}</h4>
                <h4>Created: {{getTimeString(currentTask.taskFrom)}}</h4>
                <h4>Due date: {{getTimeString(currentTask.taskUntil)}}</h4>
                <h4 ng-if="currentTask.taskPriority!==0">Priority: {{currentTask.taskPriority}}</h4>
                <h4>Status: {{currentTask.taskStatus}}</h4>
                <h5>Description:{{currentTask.taskDescription}}</h5>
            </td>



        </tr>
        <tr>
            <td>
                <div>

                </div>

                <h4>Comments</h4>
                <div class="pre-scrollable" style="height:150px;width:700px">
                    <table style="width:600px">
                        <span ng-repeat="comment in currentTask.comments.slice().reverse()">
                            <div class="commentSpan">
                                <span class="commentDetails">

                                    {{comment.userWroteID}} posted on  {{getTimeString(comment.commentCreated)}}. <span ng-if="comment.commentUpdated!=null"> Updated on {{getTimeString(comment.commentUpdated)}}</span>
                                    <span ng-if="getUserName()==comment.userWroteID">
                                        <span ng-if="!commentEditing" class="commentSpanEdit" ng-click="editComment(comment.commentID,$index,comment.commentContent)">Edit   </span>
                                        <span ng-if="commentEditing && commentEditingIndex==$index " ng-click="quitEditingComment()" class="commentSpanEdit">Quit editing</span>
                                        <span class="commentSpanEdit" ng-click="deleteComment(comment.commentID,$index)">Delete</span>
                                    </span> <br />{{comment.commentContent}}
                            </div>
                        </span>
                    </table>
                    <!--div  for comments -In order to show scroll bar needed class of div overflow set on scroll and height set on some value, or just use some class that provides this already-->
                </div>

                <!--<h5>Post comment:</h5>-->
                <textarea class="form-control commentTextArea" style="width:350px;min-width:680px" ng-model="commentContent"></textarea>

                <button ng-if="!commentEditing" class="btn btn-primary" ng-click="sendComment()">Post comment</button>
                <button ng-if="commentEditing" class="btn btn-primary" ng-click="updateComment(commentContent)">Update comment</button>
                <h4>Changes</h4>
                <div>
                    <!--div  for changes -In order to show scroll bar needed class of div overflow set on scroll and height set on some value, or just use some class that provides this already-->
                </div>

            </td>
        </tr>

    </table>

</div>