
<h1>Task details {{projectName}}</h1>

<div>
    <table>
        <tr>
            <td>
                <h4>Name: {{currentTask.taskName}}</h4>
                <h4>Assigned to :{{currentTask.userAssigned.username}}</h4>
                <h4>Created by :{{currentTask.userCreated.username}}</h4>
                <h4>Created: {{currentTask.taskFrom}}</h4>
                <h4>Due date: {{currentTask.taskUntil}}</h4>
                <h4 ng-if="currentTask.taskPriority!==0">Priority: {{currentTask.taskPriority}}</h4>
                <h4>Status: {{currentTask.taskStatus}}</h4>
                <br />
                <h5>Description:{{currentTask.taskDescription}}</h5>
            </td>
       


        </tr>
        <tr>
            <td>
                <h4>Comments</h4>
                <h4>Changes</h4>
            </td>
        </tr>
       
    </table>
   
</div>